/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
  ========================================
  ******** custom styling *******
  ========================================
*/

* {
    text-decoration: none;
}
@import url('href="https://fonts.googleapis.com/css?family=Roboto|Lato|Raleway"');

body {
    color: #0D2127;
    font: 300 16px/22px  Roboto, Lato, Raleway, sans-serif,Arial, sans-serif;
}
a {
    color: #84FF00;
    text-decoration: none;
}
a:hover {
    color: rgba(119,176,61,0.5);
}

/*
  ========================================
  Primary header
  ========================================
*/

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, .9);
  text-align: center;
  padding-top: 200px;
  z-index: 1000;
}

.hide {
  display: none;
}

header {
    background-color: #010A26;
    width: 100%;
    height: 130px;
}

header .logo {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: .5px;
    line-height: 44px;
    padding: 10px 0;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 16px;
}

header nav ul li a {
    font-size: 16px;
    text-transform: uppercase;
}

header .header-request {
    display: none;
}

header .header-login {
   display: block;
   font-size: 12px;
   color: #0F3E39;
   text-transform:  uppercase;
   border: 2px solid rgb(220, 233, 150);
   float: right;
   border-radius: 20px;
   padding: 5px 10px;
   font-weight: 600;
   margin: 5px 16px 0 0;
}
.signup {
  background: #B5AA00;
}
 /*
    ========================================
    Modal responsive
    ========================================
  */
  /* Full-width input fields */
  #input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1.5px solid #c0c0c0;
    box-sizing: border-box;
    border-radius: 5px;
    
  }
  .rightmodalTab {
  margin-bottom: 15px;
  }
  .modalTab {
  color: rgb(19, 212, 247);
  }
  /* Set a style for all buttons */
  #button {
    background-color:  #679E02;
    color: white;
    padding: 10px 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  #button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .modal-container {
    padding: 16px;
  }
  
  span.psw {
    padding: 10px;
    margin: 10px;
    text-align: center
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(2,23,62,0.9); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #164059;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 2px solid #888;
    width: 27%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: whitesmoke;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  .signup-div {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #061929;
  }
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  @media(max-width: 500px) {
   
    .rightmodalTab {
    margin-bottom: 15px;
    }
    .modalTab {
    color: rgb(19, 212, 247);
    }
    /* Set a style for all buttons */
    #button {
      background-color:  #679E02;
      color: white;
      padding: 10px 16px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;
    }
    
    #button:hover {
      opacity: 0.8;
    }
    
    /* Extra styles for the cancel button */
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }
    
    /* Center the image and position the close button */
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
      position: relative;
    }
    
    img.avatar {
      width: 40%;
      border-radius: 50%;
    }
    
    .modal-container {
      padding: 16px;
    }
    
    span.psw {
      padding: 10px;
      margin: 10px;
      text-align: center
    }
    
    /* Modal Content/Box */
    .modal-content {
      background-color: #164059;
      margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 2px solid #888;
      width: 63%; 
      border-radius: 10px;
    }
    
    /* The Close Button (x) */
    .close {
      position: absolute;
      right: 15px;
      top: 0;
      color: whitesmoke;
      font-size: 35px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  
  @media(max-width: 768px) {
    .modal-content {
      background-color: #164059;
      margin: 10% auto 35% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 2px solid #888;
      width: 50%; 
      border-radius: 10px;
    }
   
  }

@media only screen and (min-width: 1000px) {
  header {
    background-color: #010A26;
    width: 100%;
    height: 100px;
}
    header .logo {
        padding: 0px 20px 0px 40px;
        margin: 31px 0;
        text-align: left;
        line-height: 38px;
        border-right: 3px solid #111;
        float: left;
    }
    header nav ul {
        margin: 20px 0px 0px 20px;
        float: left;
    }
    header nav ul li a {
        line-height: 60px;
        font-weight: 600;
    }
    header .header-login {
         display: block;
         font-size: 16px;
         color: #0F3E39;
         text-transform:  uppercase;
         line-height: 38px;
         border: 2px solid rgb(220, 233, 150);
         float: right;
         border-radius: 50px;
         margin-right: 40px;
         margin-top: 30px;
         padding: 0 20px;
         font-weight: 400;
     }
     .signup {
        background: #B5AA00;
     }

    header .header-request {
        display: block;
        font-size: 16px;
        color: #111;
        text-transform: uppercase;
        line-height: 38px;
        border: 1px solid #111;
        float: right;
        margin-right: 40px;
        margin-top: 30px;
        padding: 0 20px;
    }

 /*
    ========================================
    Modal
    ========================================
  */
  /* Full-width input fields */
  #input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1.5px solid #c0c0c0;
    box-sizing: border-box;
    border-radius: 5px;
    
  }
  .rightmodalTab {
  margin-bottom: 15px;
  }
  .modalTab {
  color: rgb(19, 212, 247);
  }
  /* Set a style for all buttons */
  #button {
    background-color:  #679E02;
    color: white;
    padding: 10px 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  #button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .modal-container {
    padding: 16px;
  }
  
  span.psw {
    padding: 10px;
    margin: 10px;
    text-align: center
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(2,23,62,0.9); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #164059;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 2px solid #888;
    width: 27%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: whitesmoke;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  .signup-div {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #061929;
  }
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  @media(max-width: 500px) {
   
    .rightmodalTab {
    margin-bottom: 15px;
    }
    .modalTab {
    color: rgb(19, 212, 247);
    }
    /* Set a style for all buttons */
    #button {
      background-color:  #679E02;
      color: white;
      padding: 10px 16px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;
    }
    
    #button:hover {
      opacity: 0.8;
    }
    
    /* Extra styles for the cancel button */
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }
    
    /* Center the image and position the close button */
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
      position: relative;
    }
    
    img.avatar {
      width: 40%;
      border-radius: 50%;
    }
    
    .modal-container {
      padding: 16px;
    }
    
    span.psw {
      padding: 10px;
      margin: 10px;
      text-align: center
    }
    
    /* Modal Content/Box */
    .modal-content {
      background-color: #164059;
      margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 2px solid #888;
      width: 63%; 
      border-radius: 10px;
    }
    
    /* The Close Button (x) */
    .close {
      position: absolute;
      right: 15px;
      top: 0;
      color: whitesmoke;
      font-size: 35px;
      font-weight: bold;
      cursor: pointer;
    }
  }
 
}
  @media(max-width: 768px) {
    .modal-content {
      background-color: #164059;
      margin: 10% auto 35% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 2px solid #888;
      width: 50%; 
      border-radius: 10px;
    }
   
  }

/*
  ========================================
  Home
  ========================================
*/

.hero {
    color: #fff;
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('../images/snack.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    line-height: 25px;
    display: table;
}
#overlay{
  position: relative; /* Sit on top of the page content */
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: rgba(2, 23, 62, 0.7); /* Black background with opacity */
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.vertical-banner {
    display: table-cell;
    vertical-align: middle;
    padding: 70px 0 0 0;
}
.hero h2 {
    color: whitesmoke;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    
}

.banner-btn {
  padding: 30px,0 0 0;
  display: block;
  margin: 25px auto;
  font-size: 1em;
  border: 0;
  color: rgb(24, 24, 2);
  background: #16ECFF;
  border-radius: 50px;
  padding: 6px 7px;
  cursor: pointer;
}

.hero p {
    color: whitesmoke;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    text-shadow: 2px 2px 8px #111;
}

.teaser a:hover h3 {
    color: #a9b2b9;
}

.index-links div {
    margin: 16px 16px 0;
    padding-top: 15px;
    width: calc(100% - 32px);
    height: 320px;
    background-color: #f2f2f2;
    text-align: center;
}
.process{
  margin: 20px 0 10px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #02173E;
}
.index-links p {
    margin: 10px;
    color: #0F3E39;
    text-align: center;
    font-weight: 400;
    line-height: 22px;
}

.index-links div h2 {
    font-weight: 500;
    font-size: 18px;
    color: #02173E;
}
.index-links  i {
    margin: 10px 0 10px 0;
    color:rgb(73, 238, 8);
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }
    
    .hero {
      color: #fff;
      width: 100%;
      height: 500px;
      background-image: url('../images/snack.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      line-height: 44px;
      display: table;
  }
  .hero h2 {
    color: whitesmoke;
    font-size: 25px;
    font-weight: 600;
    line-height: 43px;
    text-align: center;
    
  }
  #overlay{
    position: relative; /* Sit on top of the page content */
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: rgba(2, 23, 62, 0.7); /* Black background with opacity */
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
    .vertical-banner {
        padding: 40px 70px 0 0;
        display: table-cell;
        vertical-align: left;
        float: right;
    }
    .banner-btn {
        padding: 30px,0 0 0;
        display: block;
        margin: 25px auto;
        font-size: 1.5em;
        border: 0;
        color: rgb(24, 24, 2);
        background: #16ECFF;
        border-radius: 50px;
        padding: 12px 14px;
        cursor: pointer;
    }

    .hero h2 {
        display: block;
        width: 560px;
        margin: 0 auto;
    }
    .index-links div {
        margin: 20px 16px 0;
        height: 310px;
        background-color: #f2f2f2;
        float: left;
    }
    .index-links {
        overflow: hidden;
    }
    .index-boxlink {
        width: calc(32% - 20px) !important;
    }
    .process{
      margin: 35px 0 20px 0;
      text-align: center;
      font-size: 30px;
      font-weight: 600;
      color: #02173E;
    }
    .index-links p {
        margin: 10px;
        color: #0F3E39;
        text-align: center;
        font-weight: 400;
        line-height: 24px;
    }
    
    .index-links div h2 {
        font-weight: 500;
        font-size: 24px;
        color: #02173E;
    }
    .index-links  i {
        margin: 15px 0 10px 0;
        color:rgb(73, 238, 8);
    }
}

/*
  ========================================
  Menu
  ========================================
*/
.food-item {
  margin: 70px 0 0 0;
}
.menu-card-list div {
  margin: 20px 16px 0;
  padding-top: 15px;
  width: calc(100% - 32px);
  height: 310px;
  background-color: #f2f2f2;
  text-align: center;
  float: left;
}
.card {
      overflow: hidden;
  }
 
.card img {
  width: 70%;
  height: 180px;

}
.menu-card-list .card-details {
  margin: 5px 10px;
  color: #6ACC00;
  font-weight: 500;
  font-size: 16px;
}
.menu-card-list .card-details #price {
  color: rgb(51, 34, 10);
  font-weight: 900;
  font-size: 18px;
}
.menu-card-list .card-details button {
  font-size: 0.9em;
  margin: 10px 0;
  border: 0;
  background: #F5900E;
  color: whitesmoke;
  border-radius: 50px;
  padding: 5px 8px ;
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .wrapper-menu {
      width: 1000px;
      margin: 0 auto;
  }
  .food-item {
    margin: 70px 0 0 0;
  }
  .menu-card-list div {
      margin: 20px 5px 0;
      height: 310px;
      width: calc(100% - 32px);
      background-color: #f2f2f2;
      float: left;
  }
  .menu-card-list {
      overflow: hidden;
  }
  .card {
      width: calc(20% - 10px) !important;
  }
  .card img {
    width: 100%;
    height: 180px;
  
  }
 
  .menu-card-list .card-details #price {
    color: rgb(51, 34, 10);
    font-weight: 900;
    font-size: 18px;
  }
  .menu-card-list .card-details button {
    font-size: 0.9em;
    margin: 10px 0;
    border: 0;
    background: rgb(43, 25, 2);
    color: whitesmoke;
    border-radius: 50px;
    padding: 5px 8px ;
    cursor: pointer;
  }
}


/*
    ========================================
    Footer
    ========================================
  */

footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 50px;
    background-color: #010A26;
    overflow: hidden;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a {
    font-size: 16px;
    color: #fff;
    line-height: 30px;
}

@media only screen and (min-width: 1000px) {
    .footer {
        color: #648880;
        font-size: 14px;
        padding-bottom: 44px;
        padding-top: 44px;
        
      }
      .footer small {
        float: left;
        font-weight: 400;
      }
      footer ul {
        width: fit-content;
        float: right;
        
    }
    footer ul li {
        display: inline-block;
        margin: 10px;
      

    }
}
.error {
  color: red;
  font-weight: 400;
}